body {
    font-family: Arial;
    background: aliceblue;
    margin: 0; padding: 0;
}

header {
    width: 100%;
}

.banner {
    width: 100%;
    margin: auto; height: auto;
    image-resolution: from-image;
    text-align: center; color: white;
    background-image: url("banner.png");
}

nav {
    height: 100%;
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.menu {
    width: 100%;
    margin: 0; margin-left: 0; margin-right: 0;
    display: block; position: absolute;
}

.menu a {
    display: block;
    padding: 0;
    text-decoration: none;
    color:#009;
}

.menu li {
    display:block;
    border-radius: 0;
    width: 100px;
    float:left;
    margin: 0; height: 1em;
    text-align: center;
    list-style: circle;
}

.menu li:hover {
    box-shadow: 0px 0px 20px blue;
    background-color: #2b65ec;
}

.logo {
    height: 100% ;
    width: 100% ;
}

.logo img {
    width: 30%;
    height: 85%;
    padding: 0;
}

#main-heading {
    width: 100%;
    margin: auto; height: auto;
    text-align: center;
    border-radius: 0.5em;
    background-color: #87afc7;
    color: black;
}

#task h2, #requirements h2, #grading h2, #submission h2, #submission h3 {
    text-align: center;
    color: #151b54;
}

footer {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightsteelblue;
    width: 100%;
}

footer .contacts {
     text-align: center;
}

.categories li {
    display: block;
    border-radius: 0;
    width: 100px;
    float:left; margin: 0; height: 1em;
    text-align: center;
    list-style: circle;
    font-size: 1em;
}

.categories a {
    display: block;
    padding:0;
    text-decoration:none;
    color:#009;
}

footer .contacts h5, .categories h5, .quick_links h5 {
     text-align: center;
     font-size: 1em;
}

.quick_links li {
    display: block;
    border-radius: 0;
    width: 100px;
    float:left; margin: 0; height: 1em;
    text-align: center;
    list-style: circle;
    font-size: 1em;
}

.quick_links a {
    display: block;
    padding:0;
    text-decoration:none;
    color:#009;
}

@media screen and (max-width: 768px) {
  .banner {
      font-size: 2em;
  }

  #main-heading {
      font-size: 1.2em;
  }

  @media {
      #task img {
         width: 100%;
         height: auto;
         margin: auto;
      }
      #submission img {
        width: 100%;
        height: auto;
        margin: auto;
      }
  }

  ::after {
      content: '\A';
      white-space: pre;
  }
}

@media screen and ((min-width: 768px) and (max-width: 1023px)) {
  .banner {
      font-size: 4em;
  }

  #main-heading {
      font-size: 1.4em;
      text-align: center;
  }

  section {
      float: left;
      display: inline-block;
      width: 65%;
      margin: 1%;
  }

  #requirements {
      margin: 0;
      clear: both;
  }

  #submission {
      float: left;
      display: grid;
      width: 50%;
      height: 100%;
  }

  @media {
      #submission img {
        width: 100%;
        height: auto;
        margin: auto;
      }
  }

  #grading {
      float: right;
      display: grid;
      width: 45%;
      height: 100%;
  }

  @media (min-width: 40rem) {
      img {
         float: left;
         padding: 1rem;
         max-width: 50%;
         margin: 0 0 1rem 1rem;
      }
  }

  aside {
      float: left;
      display: grid;
      width: 25%;
      margin: 1%;
      background-color: #87afc7;
      padding-left: 20px;
  }

  ::after {
      content: '\A';
      white-space: pre;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
      font-size: 3em;
  }

  .menu {
      margin: 10px; margin-left: 5%; margin-right: 5%;
  }

  .menu li {
      border-radius: 5px;
      width: 120px;
      margin: 15px; height: 35px;
  }

  #main-heading {
      width: 95%;
      margin: 10px; height: 1.5em;
      font-size: 2em;
  }

  section {
      float: left;
      display: inline-block;
      width: 65%;
      margin: 1%;
  }

  #requirements {
      margin: 0;
      clear: both;
  }

  #submission {
      float: left;
      display: grid;
      width: 50%;
      height: 100%;
  }

  @media {
      #submission img {
        width: 100%;
        height: auto;
        margin: auto;
      }
  }

  #grading {
      float: right;
      display: grid;
      width: 50%;
      height: 100%;
  }

  @media (min-width: 40rem) {
      img {
         float: left;
         padding: 1rem;
         max-width: 50%;
         margin: 0 0 1rem 1rem;
      }
  }

  aside {
      float: left;
      display: grid;
      width: 25%;
      margin: 1%;
      background-color: #87afc7;
      padding-left: 20px;
  }

  footer {
      display: grid;
  }

  .categories li {
      border-radius: 5px;
      width: 120px;
      float:left; margin: 10px; height: 20px;
      font-size: 15px;
  }

  .categories a {
      padding:3px;
  }

  .quick_links li {
      border-radius: 5px;
      width: 120px;
      margin: 10px; height: 20px;
      font-size: 15px;
  }

  .quick_links a {
      padding:3px;
      text-decoration:none;
      color:#009;
  }
  
  footer .contacts h5, .categories h5, .quick_links h5 {
       font-size: 16px;
  }
}
